<main>
        <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <fieldset>
                <label for="text">Identification:</label>
                <input type="text" formControlName="documentId" id="documentId">
            </fieldset>
            <fieldset>
                <label for="text">First Name:</label>
                <input type="text" formControlName="name" id="name">
              </fieldset>
              <fieldset>
                <label for="text">Last Name:</label>
                <input type="text" formControlName="lastName" id="lastName">
              </fieldset>
              <fieldset>
                <label for="tel">Phone Number:</label>
                <input type="tel" formControlName="phoneNumber" id="phoneNumber">
              </fieldset>
              <fieldset>
                <label for="email">Email: </label>
                <input formControlName="email" id="email">
              </fieldset>
              <fieldset>
                <label for="text">User Name: </label>
                <input type="text" formControlName="userName" id="userName">
              </fieldset>
              <fieldset>
                <label for="password">Password: </label>
                <input type="password" formControlName="password" id="password">
              </fieldset>
               <button type="submit">
                Register
              </button>           
              <a routerLink="/login">Back</a> 
        </form>
</main>

