<main>
    <section id="patient">
        <label for="userName">{{this.patient?.name}}</label>
    </section>
    <section id="patient">
        <label for="userName">{{this.patient?.lastName}}</label>
    </section>
    <section id="patient">
        <label for="userName">{{this.patient?.documentId}}</label>
    </section>
    <section id="patient">
        <label for="userName">{{this.patient?.phoneNumber}}</label>
    </section>
    <section id="patient">
        <label for="userName">{{this.patient?.email}}</label>
    </section>
</main>
