<main>

    <section>
        <i class="material-icons">
            face
        </i>{{this.patient?.name}} {{this.patient?.lastName}}
    </section>
    <section>
        <i class="material-icons">
            featured_video
        </i>{{this.patient?.documentId}}
    </section>
    <section>
        <i class="material-icons">
            call
        </i>
        {{this.patient?.phoneNumber}}</section>
    <section>
        <i class="material-icons">
        email
    </i>{{this.patient?.email}}
</section>
</main>