<main>
    <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit($event)">
      <fieldset>
        <label for="medicalSpecialitys">Specialities:</label>
        <select id="medicalSpecialitys" formControlName="medicalSpecialitys" (change)="loadData($event.target.value)">
          <option *ngFor="let speciality of medicalSpecialitys" [value]="speciality.id">{{speciality.name}}</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="date">Select appointment date:</label>
        <input type="date" formControlName="date" id="date">
      </fieldset>
      <fieldset>
        <label for="time">Time:</label>
        <input type="time" formControlName="time" id="time">
      </fieldset>
      {{scheduleForm.controls.medicalSpecialitys.value | json}}
      <button [disabled]="!scheduleForm.valid" type="submit">
        Schedule
      </button>
    </form>
  </main>
