@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    font-family: 'roboto';
}

fieldset{
    border: none;
    padding: 12px;
    label{
        margin-right: 12px;
    }
}